# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\studyPy\detect2\thiennb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
